.app{
    
  width: 100vw;
  height: 100vh;
}
.footer{
  width: 100%;
  display: flex;
  background: #14374d;
  color: honeydew;
  flex-direction: column;
  align-items: center;
  .must-show{
    font-weight: bold;
    padding-right: 10px;
  }
  .helpers-git{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 20px;
  }
  .maker-info{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .helpers-info{
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .multiple-links{
    display: flex;
    justify-content: space-evenly;
    width: 10%;
  }
  .multiple-links-data{
    display: flex;
    justify-content: space-evenly;
    width: 16%;
  }
  .right-padding{
    padding-right: 20px;
  }
}