.keyValueContainer {
    background: red;
    color: red;
    display: flex;
}

.patientKeyValue {

    color: red;
}

.patientKey {
    color: red;

}

.patientValue {
    color: red;

}

.rawPatientData {
    display: flex;
    color: red;
}
div{
    background: aqua;
}