.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-self: center;
    justify-items: center;
    padding: 0% 1% 0% 1%;
    position: fixed;
    top: 0;
    background: white;
    z-index: 100;
  }
  
.header-logo {
    height: 100%;
    display: flex;
    width: 20%;
}
.logo {
    width: 70px;
    height: 60px;
}
.web-title {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 25px;
    flex-wrap: nowrap;
    min-width: 200px;
  }
  
.button-container{
  
  display: flex;
  width: 100%;
  height: 100%;
}
.buttons{
    height: 70%;
    display: flex;  
    width: 50%;
    align-items: center;

   
}
.button{
  margin-top: 2px;
  display: flex;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 8px;
  transition-duration: 0.4s;
  margin: 4px 2px;
 
}
.button:hover {
  background-color: #555555;
  color: white;
}
.button:focus {
  background-color: #555555;
  color: white;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
 }
.dropdown-content a {
  color: black;
  padding: 12px 14px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #555555;
  color: white;
}
.dropdown:hover .dropdown-content {
  display: block;
}

