.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-self: center;
    justify-items: center;
    padding: 0% 1% 0% 1%;
    position: fixed;
    top: 0;
    background: white;
    z-index: 100;
  }
  
.header-logo {
    height: 100%;
    display: flex;
    width: 20%;
}
.logo {
    width: 70px;
    height: 60px;
}
.web-title {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 25px;
    flex-wrap: nowrap;
    min-width: 200px;
  }
  
  